* text=auto !eol
/LICENSE -text
doc/ldifs/capabilities.ldif -text
doc/ldifs/credentials.ldif -text
doc/ldifs/groups.ldif -text
doc/ldifs/hosts.ldif -text
doc/notes/commandline.txt -text
doc/notes/datastructure.txt -text
doc/notes/handlerlayout.txt -text
doc/schema/README -text
doc/schema/collective.schema -text
doc/schema/corba.schema -text
doc/schema/core.ldif -text
doc/schema/core.schema -text
doc/schema/cosine.ldif -text
doc/schema/cosine.schema -text
doc/schema/duaconf.schema -text
doc/schema/dyngroup.ldif -text
doc/schema/dyngroup.schema -text
doc/schema/inetorgperson.ldif -text
doc/schema/inetorgperson.schema -text
doc/schema/java.schema -text
doc/schema/misc.schema -text
doc/schema/nis.ldif -text
doc/schema/nis.schema -text
doc/schema/openldap.ldif -text
doc/schema/openldap.schema -text
doc/schema/pmi.schema -text
doc/schema/ppolicy.schema -text
doc/schema/session.schema -text
doc/tools/gen_diagram.sh -text
doc/tryouts/myactions.py -text
doc/tryouts/myclasses.py -text
doc/tryouts/myinterfaces.py -text
doc/tryouts/wolpython.py -text
src/access/__init__.py -text
src/access/credential.py -text
src/config.py -text
src/iron/__init__.py -text
src/iron/machine.py -text
src/iron/network.py -text
src/iron/sockets.py -text
src/oses/__init__.py -text
src/oses/abcs.py -text
src/oses/linux.py -text
src/oses/os.py -text
src/oses/windows.py -text
src/s2-ldaptest.py -text
src/s2.py -text
src/services/README -text
src/services/__init__.py -text
src/services/abcs.py -text
src/services/microsoft_ds.py -text
src/services/service.py -text
src/services/ssh.py -text
src/services/virtualization.py -text
src/services/xen.py -text
src/test.py -text
src/test.session.conf -text
src/user.id_dsa -text
src/user.id_dsa.pub -text
src/utils/__init__.py -text
src/utils/utils.py -text
