* text=auto !eol
/build.xml -text
/release.xml -text
tst/tester.sh -text
tst/tst001/tst001.sh -text
tst/tst002/tst002.sh -text
tst/tst003/tst003.sh -text
tst/tst004/tst004.sh -text
tst/tst005/tst005.sh -text
tst/tst006/tst006.sh -text
tst/tst007/tst007.sh -text
tst/tst008/tst008.sh -text
tst/tst009/tst009.sh -text
tst/tst010/tst010.sh -text
tst/tst011/tst011.sh -text
tst/tst012/tst012.sh -text
tst/tst013/tst013.sh -text
tst/tst014/tst014.sh -text
tst/tst015/tst015.sh -text
tst/tst016/tst016.sh -text
tst/tst017/tst017.sh -text
tst/tst018/tst018.sh -text
tst/tst019/tst019.sh -text
tst/tst020/tst020.sh -text
tst/tst021/tst021.sh -text
tst/tst022/tst022.sh -text
tst/tst023/tst023.sh -text
tst/tst024/tst024.sh -text
tst/tst025/tst025.sh -text
tst/tst026/tst026.sh -text
tst/tst027/tst027.sh -text
tst/tst028/tst028.sh -text
tst/tst029/tst029.sh -text
tst/tst030/tst030.sh -text
tst/tst031/tst031.sh -text
tst/tst032/tst032.sh -text
tst/tst033/tst033.sh -text
tst/tst034/tst034.sh -text
tst/tst035/tst035.sh -text
tst/tst036/tst036.sh -text
tst/tst037/tst037.sh -text
tst/tst038/tst038.sh -text
tst/tst039/tst039.sh -text
tst/tst040/tst040.sh -text
tst/tst041/tst041.sh -text
tst/tst042/tst042.sh -text
tst/tst043/tst043.sh -text
tst/tst044/tst044.sh -text
tst/tst045/tst045.sh -text
tst/tst046/tst046.sh -text
tst/tst047/tst047.sh -text
tst/tst048/tst048.sh -text
tst/tst049/tst049.sh -text
tst/tst050/tst050.sh -text
tst/tst051/tst051.sh -text
tst/tst052/tst052.sh -text
tst/tst053/tst053.sh -text
tst/tst054/tst054.sh -text
tst/tst055/tst055.sh -text
tst/tst056/tst056.sh -text
tst/tst057/tst057.sh -text
tst/tst058/tst058.sh -text
tst/tst059/tst059.sh -text
tst/tst060/tst060.sh -text
tst/tst061/tst061.sh -text
tst/tst062/tst062.sh -text
tst/tst063/tst063.sh -text
tst/tst064/tst064.sh -text
tst/tst065/tst065.sh -text
tst/tst066/tst066.sh -text
tst/tst067/tst067.sh -text
tst/tst068/tst068.sh -text
tst/tst069/tst069.sh -text
tst/tst070/tst070.sh -text
tst/tst071/tst071.sh -text
tst/tst072/tst072.sh -text
tst/tst073/tst073.sh -text
tst/tst074/tst074.sh -text
tst/tst075/tst075.sh -text
tst/tst076/tst076.sh -text
tst/tst077/tst077.sh -text
tst/tst078/tst078.sh -text
tst/tst079/tst079.sh -text
tst/tst080/tst080.sh -text
tst/tst081/tst081.sh -text
tst/tst082/tst082.sh -text
tst/tst083/tst083.sh -text
tst/tst084/tst084.sh -text
tst/tst085/tst085.sh -text
tst/tst086/tst086.sh -text
tst/tst087/tst087.sh -text
tst/tst088/tst088.sh -text
tst/tst089/tst089.sh -text
tst/tst090/tst090.sh -text
tst/tst091/tst091.sh -text
tst/tst092/tst092.sh -text
tst/tst093/tst093.sh -text
tst/tst094/tst094.sh -text
tst/tst095/tst095.sh -text
tst/tst096/tst096.sh -text
tst/tst097/tst097.sh -text
tst/tst098/tst098.sh -text
tst/tst099/tst099.sh -text
tst/tst100/tst100.sh -text
tst/tst101/tst101.sh -text
tst/tst102/tst102.sh -text
tst/tst103/tst103.sh -text
tst/tst104/tst104.sh -text
tst/tst105/tst105.sh -text
tst/tst106/tst106.sh -text
tst/tst107/tst107.sh -text
tst/tst108/tst108.sh -text
tst/tst109/tst109.sh -text
